<div class="d-flex flex-column">
  <section class="col-12">
    <div class="d-flex flex-column col-12 position-relative top-0 start-0" style="z-index:0">
      <div class="container col-4 mt-5">
        <h1 class="display-2 text-white text-center fw-bold">EventHack 2.0</h1>
        <p class="lead text-white text-center fst-italic">Painless event creation and registration. For real.</p>
      </div>
    </div>
    <div class="container col-4 mt-5 text-center" style="z-index:0;">
        <%= link_to 'Create a new Event', new_event_path, class: "btn btn-primary shadow mx-5 text-white" %>
    </div>
    <div class="col-12 position-absolute top-0 start-0" style="z-index:-1;">
      <%=image_tag("concert_landscape.jpg", class: "col-12")%>
    </div>
  </section>
</div>