    <link rel="stylesheet" href="gbz_style.css">
    <section>
      <h1> - TITLES - </h1>
      <h1>This is a #1 heading</h1>
      <h2>This is a #2 heading</h2>
      <h3>This is a #3 heading</h3>
      <h4>This is a #4 heading</h4>
      <h5>This is a #5 heading</h5>
      <h6>This is a #6 heading</h6>
    </section>
    <section>
      <h1> - TYPOGRAPHY - </h1>
      <p class="txt-normal">This is normal text</p>
      <p class="txt-bold">This is bold text</p>
      <p class="txt-italic">This is italic text</p>
      <p class="txt-under">This is underlined text</p>
      <p class="txt-striked">This is strikedthrought text</p>
    </section>
    <section>
      <h1> - COLORS - </h1>
      <p class="txt-primary">This is the primary color text</p>
      <p class="txt-secondary">This is secondary color text</p>
      <p class="txt-success">This is a success text</p>
      <p class="txt-danger">This is an alert text</p>
      <p class="txt-warning">This is warning text</p>
      <p class="txt-info">This is informational text</p>
      <p class="txt-darker">This is darker-color text</p>
      <p class="txt-dark">This is dark-color text</p>
      <p class="txt-light">This is light-color text</p>
      <p class="txt-lighter">This is even-lighter-color text</p>
    </section>
    <section>
      <h1> - BUTTONS & LINKS - </h1>
      <p>
        <a class="btn btn-primary">This is a standard button</a>
        <a class="btn btn-secondary">This is a secondary button</a>
        <a class="btn btn-success">This is a success button</a>
        <a class="btn btn-danger">This is an alert button</a>
        <a class="btn btn-warning">This is a warning button</a>
        <a class="btn btn-info">This is an info button</a>
      <p>
        <a class="btn btn-darker">This is an even darker-color button</a>
        <a class="btn btn-dark">This is a dark-color button</a>
        <a class="btn btn-light">This is a light-color button</a>
        <a class="btn btn-lighter">This is an even lighter-color button</a>
      </p>
      <p>
        <a class="lnk-standard">This is a standard link</a>
        <a class="lnk-visited">This is link you visited already</a>
      </p>
    </section>