    <section class="d-flex">
    <br/>
    <div class="mx-auto my-2">
      <form action="<%=static_pages_mycss_path%>" method="GET">
        <select class="form-select col-3" name="mystyle" onchange="this.form.submit()">
          <option selected>Choose your style below!</option>
          <option value="bootstrap">Bootstrap</option>
          <option value="vapor">Bootswatch Vapor</option>
          <option value="gibbz">GibbZ</option>
        </select>
      </form>
    </div>
    <br/>
    </section>
    <section>
      <h1 class="text-lighter"> - TITLES - </h1>
      <div class="mx-5">
        <h1>This is a #1 heading</h1>
        <h2>This is a #2 heading</h2>
        <h3>This is a #3 heading</h3>
        <h4>This is a #4 heading</h4>
        <h5>This is a #5 heading</h5>
        <h6>This is a #6 heading</h6>
      </div>
    </section>
    <section>
      <h1 class="text-lighter"> - TYPOGRAPHY - </h1>
      <div class="mx-5">
        <p class="font-weight-normal text-primary">This is normal text</p>
        <p class="font-weight-bold text-primary">This is bold text</p>
        <p class="font-italic text-primary">This is italic text</p>
        <p class="text-under text-primary">This is underlined text</p>
        <p class="text-striked text-primary">This is strikedthrought text</p>
      </div>
    </section>
    <section>
      <h1 class="text-lighter"> - COLORS - </h1>
      <div class="mx-5">
        <p class="text-primary">This is the primary color text</p>
        <p class="text-secondary">This is secondary color text</p>
        <p class="text-success">This is a success text</p>
        <p class="text-danger">This is an alert text</p>
        <p class="text-warning">This is warning text</p>
        <p class="text-info">This is informational text</p>
        <p class="text-darker">This is darker-color text</p>
        <p class="text-dark">This is dark-color text</p>
        <p class="text-light">This is light-color text</p>
        <p class="text-lighter">This is even-lighter-color text</p>
      </div>
    </section>
    <section>
      <h1 class="text-lighter"> - BUTTONS & LINKS - </h1>
      <div class="mx-5">
        <p>
          <a class="btn btn-primary">This is a standard button</a>
          <a class="btn btn-secondary">This is a secondary button</a>
          <a class="btn btn-success">This is a success button</a>
          <a class="btn btn-danger">This is an alert button</a>
          <a class="btn btn-warning">This is a warning button</a>
          <a class="btn btn-info">This is an info button</a>
        <p>
          <a class="btn btn-darker">This is an even darker-color button</a>
          <a class="btn btn-dark">This is a dark-color button</a>
          <a class="btn btn-light">This is a light-color button</a>
          <a class="btn btn-lighter">This is an even lighter-color button</a>
        </p>
        <p>
          <a class="lnk-standard">This is a standard link</a>
          <a class="lnk-visited">This is link you visited already</a>
        </p>
      </div>
    </section>