<div class="d-flex flex-row">
  <section class="col-1">
  </section>
  <section class="my-2 col-6">
  <h1>Some of our little secrets... Enjoy!</h1>
  <br/>
  <div class="d-flex">
    <div class="card m-2">
      <%=image_tag("http://img.youtube.com/vi/AG2mMAsuMwQ/maxresdefault.jpg", class: "car-img-top rounded-top")%>
      <div class="card-body">
        <h5 class="card-title">Grafikart - RoR 5</h5>
        <p class="card-text">Learn Ruby on Rails in 30 lessons, not more, not less with the help of a Totoro-like coder!</p>
        <a href="https://www.youtube.com/watch?v=AG2mMAsuMwQ" class="btn btn-primary">To Grafikart</a>
      </div>
    </div>
    <div class="card m-2">
      <%=image_tag("http://img.youtube.com/vi/Q2QuMdfzviQ/maxresdefault.jpg", class: "car-img-top rounded-top")%>
      <div class="card-body">
        <h5 class="card-title">Cocorico Electro</h5>
        <p class="card-text">Join the best French electro DJs and 1000s of dancers at this yearly event taking place in the Loiret.</p>
        <a href="https://www.youtube.com/watch?v=Q2QuMdfzviQ" class="btn btn-primary">To Cocorico</a>
      </div>
    </div>
    <div class="card m-2">
      <%=image_tag("http://img.youtube.com/vi/fXmm4PDMHWI/maxresdefault.jpg", class: "car-img-top rounded-top")%>
      <div class="card-body">
        <h5 class="card-title">Nadeking - CS:GO</h5>
        <p class="card-text">Enjoy efficiency, plain calm and self-mastery, watching this "400 IQ trigger discipline" video.</p>
        <a href="https://www.youtube.com/watch?v=fXmm4PDMHWI" class="btn btn-primary">To CS:GO and beyond...</a>
      </div>
    </div>
  </div>
  <br/>
  <hr/>
  <br/>
  </section>
  <section class="col-5">
    <%=image_tag("secret.jpg", class: "col-12")%>
  </section>
</div>