<div class="d-flex flex-row">
<section class="col-1">
</section>
<section class="my-2 col-6">
  <h1>Team</h1>
  <br/>
  <p class="col-12">And here is the dream gang behind EventHack v2.0:</p>
  <a href="https://github.com/WilfriedPaillot" class="col-6 btn btn-primary my-1 text-white" target="_blank">Wilfried PAILLOT <span class="badge badge-light bg-white text-primary">The Web Gardener</span> <span><i class="bi bi-github"></i></span></a>
  <a href="https://github.com/dav-ngu" class="col-6 btn btn-danger my-1 text-white" target="_blank">David NGUYEN <span class="badge badge-light bg-white text-danger">The Librarian</span> <span><i class="bi bi-github"></i></span></a>
  <a href="https://github.com/YAROS31" class="col-6 btn btn-success my-1 text-white" target="_blank">Yassine ROCHD <span class="badge badge-light bg-white text-success">The Finance Coder Boy</span> <span><i class="bi bi-github"></i></span></a>
  <a href="https://github.com/GibbZ-78" class="col-6 btn btn-warning my-1 text-white" target="_blank">Jean-Baptiste VIDAL <span class="badge badge-light bg-white text-warning">The Amstrad Mastermind</span> <span><i class="bi bi-github"></i></span></a>
  <br/>
  <hr/>
  <br/>
</section>
<section class="col-5">
  <%=image_tag("team.jpg", class: "col-12")%>
</section>
</div>