<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Salut <%=@my_attendee.first_name%> <%=@my_attendee.last_name%>.</p>
    <p>
      Tu as demandé à participer à l'événement <%=@my_event.title%> qui se déroulera le <%=@my_event.start_date%>.
    </p>
    <p>
      Ton INSCRIPTION est CONFIRMEE et a bien été prise en compte : merci !
    </p>
    <p>
      À très vite sur Event Hack !
    </p>
  </body>
</html>